page-login {
    font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
}

#content{
    margin-top: 8%;
}

#title{
    text-align: center;
    font-weight: 900;
    font-size: 3em;
}

.btn{
    margin-top: 10%; 
    font-weight: 700;
    border-radius: 8px;
}