<ion-header>
  <ion-navbar padding>
    <ion-title text-center>
      <p>{{ toUser.name }}</p>
      <p>{{ toUser.link }}</p>
      <p>Il tuo nickname: {{ toUser.nickname }}</p>
    </ion-title>
    <ion-buttons start>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="createTodo()" ion-button icon-only large >
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let task of todos | async ; let i = index ">
      <ion-item>
        <div *ngIf="task.status == 0" > <h1 #elemento>{{ task.content }}</h1></div>
        <div *ngIf="task.status == 1" > <h1 #elemento class='lineThrough'>{{ task.content }}</h1></div>       
      </ion-item>

      <ion-item-options side="right">
        <button ion-button icon-only color="light" (click)="updateTodo(task)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="deleteTodo(task.key)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button icon-only color="secondary" (click)="checkUncheck(task)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>