<ion-header>
  <ion-navbar>
    <ion-title>Utenti della lista</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let friend of friends">
      <ion-item-sliding #item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="removeFriend(friend)" *ngIf="friend.name != 'Tu'">Rimuovi</button>
    </ion-item-options>
    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="contact" item-start></ion-icon>
      </ion-avatar>
      <h2>{{friend.name}}</h2>
    </ion-item>
  </ion-item-sliding>
  </ion-list>
</ion-content>