<ion-header>
  <ion-navbar>
    <ion-title>Utenti della lista</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header *ngIf="isMine == 0">Lista non tua, non puoi rimuovere amici</ion-list-header>
    <div class="separator"></div>
  <ion-list>
    <ion-item-sliding *ngFor="let friend of friends">
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeFriend(friend)" *ngIf="friend.proprietary == 0 && isMine == 1">Rimuovi</button>
      </ion-item-options>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <h2 class="separator"></h2>
        <h2>{{friend.name}}</h2>
        <h2 class="separator"></h2>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>