@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

#title{
  color: white;
  font-weight: 700; 
  padding: 20%;
}

#main{
  padding: 5%;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.badge1{
  background-color: green;
}

.badge2{
  background-color: brown;
}
