@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

#title{
  color: white;
  font-weight: 700; 
  padding: 20%;
}

#main{
  padding: 5%;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-stats--barbarian {
  background: #2b3137;

  .one-third {
     border-right: 1px solid white;
  }
}

.clash-card__unit-stats { 
  color: white;
  font-weight: 700;
  
  .one-third {
    width: 33%;
    float: left;
    padding: 25px 15px;
  }
  
  sup {
    position: absolute;
    bottom: 4px; 
    font-size: 45%;
    margin-left: 2px;
  }
  
  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
