<ion-header>

  <ion-navbar>
    <ion-title>Le tue liste({{this.numListe}}) </ion-title>
    <ion-buttons end>
      <button ion-button round (click)="add()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card id="card" (press)="action()" (click)="openList()" *ngFor="let array of liste">
    <img id="immagine" src="https://www.downloadwallpapers.info/preview/2017/12/07/1050926_gradient-iphone_7680x4320_h.jpg" />
    <ion-card-content>
      <ion-card-title id="font">
        {{ array.nomeLista }}
      </ion-card-title>
      <p>
        Mini descrizione lista
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>





<!-- <ion-content>
  <ion-list>
    <div id="lista" (click)="openList()" *ngFor="let array of liste">
      <div="wowLista">
        immagine o descrizione
    </div>
    <h1>{{ array.nomeLista }}</h1>
    </div>
  </ion-list>
</ion-content> -->