page-home-liste {

}

@media only screen and (max-width: 600px){
    h1{
        text-align: center;
        border: solid 8px #e8175d;
        border-radius: 40px;
        padding: 40px;
        margin: 20px;
        height: 300px;
        box-shadow: 2px 4px 20px 1px grey;
    }
}