<ion-header>

  <ion-navbar>
    <ion-title>Le tue liste({{cardCount}}) </ion-title>
    <ion-buttons end>
      <button ion-button round (click)="add()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card id="card" (press)="action(card)" (click)="openTodo(card)" *ngFor="let card of cards">
    <img id="immagine" src="../../assets/imgs/ombrellone.jpg" />
    <ion-card-content>
      <ion-card-title id="font">
        {{ card }}
      </ion-card-title>
      <p>
        id Lista: {{ cardId[cardCount] }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>





<!-- <ion-content>
  <ion-list>
    <div id="lista" (click)="openList()" *ngFor="let array of liste">
      <div="wowLista">
        immagine o descrizione
    </div>
    <h1>{{ array.nomeLista }}</h1>
    </div>
  </ion-list>
</ion-content> -->